.section-8 {
  margin-top: 100px;
  font-family: Arial;
  margin-bottom: 85px;
  text-align: center;
}

@media (max-width:650px) {
  .section-8 {
    text-align: start;
    margin-left: 30px;
  }
}

.section-8-trending-text {
  font-size: 18px;
  /* text-align: center; */
  margin-bottom: 8px;
}

.section-8-main-heading {
  font-size: 45px;
  font-weight: bolder;
  /* text-align: center; */
  margin-bottom: 15px;
}

.section-8-sub-heading {
  color: rgb(110, 106, 106);
  font-size: 18px;
  /* text-align: center; */
}

.section-8-button {
  margin-top: 25px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* text-align: center; */
  
}

.section-8-shop-button {
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  margin-right: 5px;
}